* {
  box-sizing: border-box;
}

html {
  font-family: 'Raleway', sans-serif;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  background-color: #3a3a3a;
  color: white;
}

h2 {
  color: blue;
}

#about-section {
  color: pink;
}

.important-text {
  color: red;
  font-size: 30px;
  text-transform: uppercase;
}

.box {
  display: inline-block;
  width: 50px;
  height: 50px;
  color: white;
  background: black;
  /* margin: 40px; */
  padding: 20px; /* four sides */
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
  padding-right: 20px;
}


.triangle1 {
  margin: 10px;
  height: 0;
  width: 0;
  border-top: solid 120px transparent;
  border-bottom: solid 120px transparent;
  border-left: solid 200px orange;
}

.triangle2 {
  margin: 10px;
  height: 0;
  width: 0;
  border-bottom: solid 150px red;
  border-left: solid 50px transparent;
  border-right: solid 50px transparent;
}