@keyframes rise {
  from {
    bottom: -100px;
  }
  to {
    bottom: 600px;
  }
}

body {
  min-height: 100vh;
  font-family: 'Indie Flower', cursive;
  text-align: center;
}

h1 {
  font-size: 3.5rem;
  margin-bottom: 0;
}

#life-count {
  color: red;
}

#box {
  background: lightblue;
  background-image: url('assets/sky.jpg');
  background-size: cover;
  height: 600px;
  width: 95%;
  max-width: 600px;
  margin: auto;
  border-radius: 8px;
  position: relative;
  overflow: hidden;
  cursor: crosshair;
  display: flex;
  justify-content: center;
  align-items: center;
}

img {
  position: absolute;
  height: 100px;
  animation-name: rise;
  animation-timing-function: linear;
  animation-duration: 3s;
}

button {
  padding: 5px 10px;
  background: tomato;
  border: none;
  box-shadow: none;
  font-size: 1.5em;
  font-family: 'Indie Flower', cursive;
}
